{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "react/jsx-sort-props": ["error", {
      "callbacksLast": true,
      "shorthandFirst": true,
      "shorthandLast": false,
      "ignoreCase": false,
      "noSortAlphabetically": false,
      "reservedFirst": true
    }]
  }
}
