@use "/styles/utils";

.home {
  width: 100%;
}

.container {

}

.title {
  text-transform: capitalize;
  text-align: center;
}

/*TODO NEEDS MOBILE VERSION*/
.nextButton, .prevButton {
  @include utils.defaultButton;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  bottom: 0;
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--acc-trans);
  z-index: 10;
  cursor: pointer;

  @include utils.down(utils.$sm) {
    height: 50px;
    border-radius: 50%;
    right: 16px;
  }

  &:disabled {
    background-color: black;
  }
}

.prevButton {
  right: auto;
  left: 0;

  @include utils.down(utils.$sm) {
    left: 16px;
  }
}

.swiper {
  height: 300px;
  width: 100%;
  padding: 0 50px;
  @include utils.down(utils.$sm) {
    padding: 0;
  }
}

.slide {
  width: 500px;
  @include utils.down(utils.$sm) {
    width: 100%;
  }
}

.post {
  position: relative;
  height: 100%;
  width: 100%;
}

.figure {
  position: relative;
  height: 100%;
  width: 100%;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--bg-trans);
  height: 60%;
  width: 100%;
  padding: 8px;
}

.captionTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 36px;
}

.captionExcerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 24px;
}