@use '/styles/utils';

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .link {
    color: #eee;
    padding: 8px;
    border: none;
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
    transition: color ease 200ms;

    &:hover, &:active, &:focus {
      color: var(--acc)
    }
  }
}

.form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative
}