@use '../utils';

.desktopNav {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: var(--bg-nav);
  color: var(--bg-contrast-text);
}

.left {
  display: flex;
}

.right {
  display: flex;
}

.navItem {
  height: 100%;
}

.navItemLink {
  @include utils.defaultButton;
  background-color: var(--bg-nav);
  height: 100%;
}

.navItemWithDropdown {
  @include utils.defaultButton;
  background-color: var(--bg-nav);
  height: 100%;
  position: relative;
}

.dropdownMenu {
  position: absolute;
  cursor: auto;
  background-color: var(--bg-nav);
  color: var(--bg-contrast-text);
  overflow: hidden;
}

.menu {
  width: 100%;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  padding: 0;
  background-color: var(--bg-nav);
  color: var(--bg-contrast-text);
}

.dropdownItemButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  padding: 0;
  background-color: var(--bg-nav);
  color: var(--bg-contrast-text);

  &:hover, &:active, &:focus {
    background-color: var(--acc-inactive);

    .leftIcon {
      background-color: var(--acc);
    }
  }
}

.leftIcon {
  @include utils.defaultButton;
  width: 40px;
  height: 40px;
  background-color: var(--acc-inactive);
}

.rightIcon {
  margin-left: auto;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownLinkItem {

}

.dropdownLinkItemAnchor {
  @include utils.defaultButton;
  background-color: var(--bg-nav);
  color: var(--bg-contrast-text);
  padding: 0;
  justify-content: revert;

  &:hover, &:active, &:focus {
    background-color: var(--acc-inactive);

    .leftIcon {
      background-color: var(--acc);
    }
  }
}

/*CSS TRANSITION ANIMATIONS*/
/*PRIMARY*/
//.dropdownMenuEnter {
//  position: absolute;
//  transform: translateX(-110%);
//}
//
//.dropdownMenuEnterActive {
//  transform: translateX(0%);
//  transition: all 500ms ease;
//}
//
//.dropdownMenuExit {
//  position: absolute;
//}
//
//.dropdownMenuExitActive {
//  transform: translateX(-110%);
//  transition: all 500ms ease;
//}
//
///*SECONDARY*/
//.dropdownMenuEnterSecondary {
//  transform: translateX(110%);
//}
//
//.dropdownMenuEnterActiveSecondary {
//  transition: all utils.$navSpeed ease;
//  transform: translateX(0%);
//}
//
//.dropdownMenuExitSecondary {
//
//}
//
//.dropdownMenuExitActiveSecondary {
//  transform: translateX(110%);
//  transition: all utils.$navSpeed ease;
//}
//
///*NAV ITEM*/
//.navItemExit {
//
//}
//
//.navItemExitActive {
//  transition: all ease 500ms;
//  height: 0!important;
//}


/* THEME CONTROLS */
.themeControl {
  cursor: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.themeRadioControl {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.5rem;
  gap: 16px;
  padding: 16px;
}