@use "/styles/utils";

.desktop {
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
  }

  .inputsContainer {
    padding: 0 128px;
    display: flex;
    width: 100%;
    gap: 128px;

    @include utils.down(utils.$lg) {
      flex-direction: column;
      gap: 16px;
    }
  }

  .inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
  }

  .excerpt {
    height: 200px;
    resize: none;
  }

  .filesContainer {
    width: 100%;
  }

}


.mobile {
  margin-top: utils.$navHeight;
  margin-left: utils.$navWidth;
  position: relative;
  width: utils.$navWidthCalc;
  height: utils.$navHeightCalc;
  overflow: auto;
}


.submitButton {
  @include utils.defaultButton;
  background-color: var(--acc);

  &:disabled {
    background: var(--acc-disabled);
    color: var(--acc-disabled-contrast-text);
    pointer-events: none;
  }
}