.formControlError {
  color: var(--error);
  font-weight: bolder;
  min-height: 21px;
  text-shadow: hsla(0, 0%, 0%, .5) 0 0 4px;
  display: inline-block;

  span {
    &::before {
      white-space: pre;
      content: " - ";
    }
  }
}