.formControl {
  .labelStandalone {
    margin-bottom: 4px;
    font-weight: bolder;
  }

  .labelWrapper {
    position: relative;
    padding-left: 24px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .checkmark {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 4px;
      background-color: #eee;
      overflow: hidden;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--acc);
        transform: scale(0);
        transition: var(--transition-time) ease transform;
      }

      svg {
        transition: var(--transition-time) ease transform;
        transform: scale(0);
        width: 70%;
        height: 70%;
      }
    }

    input {
      display: none;

      &:checked ~ .checkmark {

        &::before {
          transform: scale(1) rotate(360deg);
        }

        svg {
          transform: scale(1) rotate(360deg);
        }
      }
    }
  }

  @import "formControlError";
}


