.formControl {
  display: flex;
  flex-direction: column;
  width: 100%;

  .labelStandalone {
    margin-bottom: 4px;
    display: inline-block;
    width: auto;
    font-weight: bolder;
  }

  @import "formControlError";
}

