.formControl {
  display: flex;
  flex-direction: column;
  width: 100%;

  .labelStandalone {
    margin-bottom: 4px;
    font-weight: bolder;
  }

  .iconContainer {
    height: inherit;
    position: relative;
    color: #111;
    width: 100%;

    .select {
      width: inherit;
      height: inherit;
      padding: 8px;
      outline: none;
      transition: background-color var(--transition-time) ease;
      background-color: hsl(0, 0%, 93%);
      border: none;
      font-size: 1rem;
      z-index: 1;
      line-height: 2rem;

      &:hover, &:active, &:focus {
        background-color: hsl(0, 0%, 100%);
      }
    }

    .prependIcon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 14px;
      pointer-events: none;
      user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      z-index: 2;
    }

    .prependIconPadding {
      padding-left: 30px;
    }

    .appendIcon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 14px;
      pointer-events: none;
      z-index: 2;
      user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
    }

    .appendIconPadding {
      padding-right: 30px;
    }
  }


  @import "formControlError";
}

