@use '../utils';

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all utils.$navSpeed ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all utils.$navSpeed ease;
}

/*------------------------------------------*/

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transition: all utils.$navSpeed ease;
  transform: translateX(0%);
}

.menu-secondary-exit {

}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all utils.$navSpeed ease;
}

.nav-item-exit {
  transition: all utils.$navSpeed ease;
}

.nav-item-exit-active {
  height: 0!important;
}