@use "/styles/utils";

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: utils.$md;
  margin: 0 auto;
  position: relative;
  padding: 32px 0;
}

.toc {

}

.tocHeader {
  padding: 4px 16px;
  color: var(--acc-contrast-text);
  background-color: var(--acc);
}