@use '../utils';


.editor {
  background: var(--bg) !important;
  border: none !important;
  position: relative;

  /* TOOLBAR */
  > div:nth-child(1) {
    background-color: var(--bg-nav);
    border: none;
    position: sticky;
    top: 0;
    z-index: 1;

    * {
      color: inherit !important;
      background: none;
      font-size: 2rem !important;
    }

    /* Editor Pane */
  }

  > div:nth-child(2) {
    > section:nth-child(2) > div {
      padding: 0 !important;
    }
  }

  .markdown {
    background: inherit !important;
    color: inherit !important;
  }

  .html {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: inherit !important;
  }
}

