@use '/styles/utils';

.root {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-color: var(--bg);
  z-index: map-get(utils.$z-indexes, 'loader');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  user-select: none;
}

.transparent {
  background-color: var(--bg-trans);
}