@use '../utils';

.modalRoot {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(2px);
  z-index: map-get(utils.$z-indexes, 'modal');
  background-color: #000a;
}

.modalContent {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: var(--bg-nav);
  overflow-y: auto;
  @include utils.up(utils.$md) {
    max-width: 900px;
    max-height: 80vh;
  }
}

.defaultFooter {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  position: absolute;
  right: 8px;
  top: 8px;
}