@use '../utils';

.desktop {
  pointer-events: none;
  background: var(--bg-nav);
  color: var(--bg-nav-contrast-text);
  position: fixed;
  font-weight: bold;
  top: 0;
  left: 0;
  right: 0;
  z-index: map-get(utils.$z-indexes, 'navigation');

  ul {
    list-style: none;
  }

  /*first row*/
  > ul {
    display: flex;
    justify-content: space-between;
    height: utils.$navHeight;


    /*separate left and right*/
    > div {
      display: flex;

      li {
        width: 100%;
        height: 100%;

        > button, a {
          pointer-events: auto;
        }
      }
    }
  }

  button, a {
    @include utils.buttonReset;
    position: relative;
    z-index: 2;
    padding: 8px 16px;
    width: 100%;
    height: 100%;
    background-color: var(--bg-nav);
    //transition: width utils.$navTransitionTime ease utils.$navTransitionTime;
    pointer-events: none;

    &:hover {
      background-color: var(--acc);
      //transition-duration: utils.$navTransitionTime;
    }

    &.active {
      width: 200px;
      background-color: var(--acc);
    }
  }


  li.dropdown {
    position: relative;
  }

  ul.dropdownMenu {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    //transition: utils.$navTransitionTime;
    display: grid;
    grid-template-columns: 1fr 1fr;
    opacity: 0;
    z-index: -1;
    width: 200px;

    &.active {
      transform: translateY(0);
      //transition-delay: utils.$navTransitionTime * 2;
      opacity: 1;
      z-index: 1;
    }
  }

}

@mixin hide() {
  opacity: 0;
  pointer-events: none;
}

@mixin show() {
  opacity: 1;
  pointer-events: auto;
}

@mixin startPos() {
  bottom: 150px;
  right: 50%;
}

.mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: map-get(utils.$z-indexes, "backdrop");
  pointer-events: none;
  color: var(--bg-contrast-text);
  text-transform: uppercase;
  font-weight: bold;

  .relative {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .backdrop {
    //transition: opacity utils.$navTransitionTime ease;
    background-color: var(--bg-trans);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    opacity: 0;
  }

  .openCompass ~ .backdrop {
    opacity: 1;
  }

  a, button {
    @include utils.buttonReset;
    pointer-events: none;
    line-height: 50%;
    @include startPos;
    position: fixed;
    transform: translate(50%, 50%);
    display: flex;
    flex-direction: column;
    user-select: none;
    gap: 10px;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
    @include hide;
    transition: bottom ease utils.$navTransitionTime,
    right ease utils.$navTransitionTime,
    opacity ease utils.$navTransitionTime;

    span {
      font-size: 5vw;
    }

    svg {
      font-size: 10vw;
    }
  }

  ul {
    width: 100%;
    height: 100%;
  }

  [data-name="compass"] {
    pointer-events: auto;
    @include show;
  }

  .openCompass {
    [data-name="blog"] {
      bottom: 250px;
      right: 50%;
      @include show;
    }

    [data-name="library"] {
      bottom: 250px;
      right: 20%;
      @include show;
    }

    [data-name="contact"] {
      bottom: 250px;
      right: 80%;
      @include show;
    }

    [data-name="login"], [data-name="account"] {
      bottom: 100px;
      right: 20%;
      @include show;
    }

    [data-name="portal"] {
      bottom: 100px;
      right: 80%;
      @include show;
    }
  }

  .openLibrary {
    [data-name="blog"], [data-name="library"], [data-name="contact"], [data-name="login"],
    [data-name="account"], [data-name="portal"] {
      @include startPos;
    }

    [data-name="blog"], [data-name="contact"], [data-name="login"],
    [data-name="account"], [data-name="portal"], [data-name="compass"] {
      @include hide;
    }

    [data-name="courses"] {
      @include show;
      bottom: 250px;
      right: 80%;
    }

    [data-name="tips"] {
      @include show;
      right: 20%;
      bottom: 250px;
    }
  }
}

.margin {
  margin-bottom: utils.$navHeight;
}