@use '../core';

.desktop {
  pointer-events: none;
  background: var(--bg-nav);
  color: var(--bg-nav-contrast-text);
  position: fixed;
  font-weight: bold;
  top: 0;
  left: 0;
  right: 0;
  z-index: map-get(core.$z-indexes, 'navigation');

  ul {
    list-style: none;
  }

  /*first row*/
  > ul {
    display: flex;
    justify-content: space-between;
    height: core.$navHeight;


    /*separate left and right*/
    > div {
      display: flex;

      li {
        width: 100%;
        height: 100%;

        > button, a {
          pointer-events: auto;
        }
      }
    }
  }

  button, a {
    @include core.buttonReset;
    position: relative;
    z-index: 2;
    padding: 8px 16px;
    width: 100%;
    height: 100%;
    background-color: var(--bg-nav);
    transition: width core.$navTransitionTime ease core.$navTransitionTime;
    pointer-events: none;

    &:hover {
      background-color: var(--acc);
      transition-duration: core.$navTransitionTime;
    }

    &.active {
      width: 200px;
      background-color: var(--acc);
    }
  }


  li.dropdown {
    position: relative;
  }

  ul.dropdownMenu {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    transition: core.$navTransitionTime;
    display: grid;
    grid-template-columns: 1fr 1fr;
    opacity: 0;
    z-index: -1;
    width: 200px;

    &.active {
      transform: translateY(0);
      transition-delay: core.$navTransitionTime * 2;
      opacity: 1;
      z-index: 1;
    }
  }

}

//@mixin hidden() {
//  opacity: 0;
//  pointer-events: none;
//  & > a > span,
//  & > button > span {
//    opacity: 0;
//  }
//}
//
//@mixin show() {
//  opacity: 1;
//  pointer-events: auto;
//  & > a > span,
//  & > button > span {
//    opacity: 1;
//  }
//}

.mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: map-get(core.$z-indexes, "backdrop");
  pointer-events: none;
  color: var(--bg-contrast-text);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;

  span {
    font-size: 1rem;
  }

  [data-name="compass"] {
    svg {
      font-size: 2rem;
    }
  }

  .relative {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .backdrop {
    transition: opacity core.$navTransitionTime ease;
    background-color: var(--bg-trans);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    opacity: 0;
  }

  .compassOpen ~ .backdrop {
    opacity: 1;
  }

  ul {
    width: 100%;
    height: 100%;
  }

  .navItem {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  a, button {
    @include core.buttonReset;
    line-height: 50%;
    position: fixed;
    bottom: 100px;
    right: 50%;
    transform: translate(50%, 50%);
    display: flex;
    flex-direction: column;
    user-select: none;
    gap: 10px;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
    transition: all ease core.$navTransitionTime;

    &[data-name="compass"] {
      z-index: 2;
    }
  }

  .compassContainer, .libraryContainer {
    transition: all ease core.$navTransitionTime;
    z-index: 0;
    opacity: 0;
  }

  .navItem.compassOpen {
    .compassContainer {
      opacity: 1;

      [data-name="blog"] {
        bottom: 200px;
        right: 50%;
      }

      [data-name="library"] {
        bottom: 200px;
        right: 20%;
      }

      [data-name="contact"] {
        bottom: 200px;
        right: 80%;
      }

      [data-name="settings"], [data-name="login"] {
        bottom: 100px;
        right: 20%;
      }

      [data-name="portal"] {
        bottom: 100px;
        right: 80%;
      }
    }
  }
}

.margin {
  margin-bottom: core.$navHeight;
}