@use '/styles/utils';
.root {
  width: utils.$navWidth;
  height: 100%;
  background-color: var(--bg-nav);
  color: var(--bg-nav-contrast-text);
  position:fixed;
}

.search {
  background-color: var(--bg-nav);
  color: var(--bg-nav-contrast-text);
}

.list {

}

.item {

}