@use '../../utils';

.post {
  height: 100%;
}

.figure {
  height: 100%;
  position: relative;
}

.caption {
  position: absolute;
  bottom: 0;
  background-color: var(--bg-trans);
  padding: 8px;
}

.title {
  font-family: Roboto Condensed, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.excerpt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (display: -webkit-box) and (-webkit-line-clamp:2) and (-webkit-box-orient: vertical) {
    white-space: normal;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}