$xs: 0;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;


@mixin breakpoint($point) {
  @if ($point == xs) {
    @media all and (min-width: $xs) {
      @content;
    }
  } @else if $point == sm {
    @media all and (min-width: $sm) {
      @content;
    }
  } @else if $point == md {
    @media all and (min-width: $md) {
      @content;
    }
  } @else if $point == l {
    @media all and (min-width: $lg) {
      @content;
    }
  } @else if $point == xl {
    @media all and (min-width: $xl) {
      @content;
    }
  }
}

@mixin between($a,$b) {
  @media all and (min-width: $a) and (max-width: $b) {
    @content;
  }
}

@mixin down($point) {
  @media all and (max-width: $point) {
    @content;
  }
}

@mixin up($point) {
  @media all and (min-width: $point) {
    @content;
  }
}

@mixin defaultButton {
  background-color: var(--acc-inactive);

  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;

  padding: 8px;

  text-transform: inherit;
  font-size: 1rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  transition: background-color 150ms ease;
  pointer-events: auto;

  &.fullWidth{
    width: 100%;
  }

  &:hover, &:active, &:focus {
    background-color: var(--acc);
    color: var(--acc-contrast-text);
  }

  &:disabled {
    background-color: var(--acc-disabled);
    color: var(--acc-disabled-contrast-text);
    pointer-events: none;
  }
}