$navHeight: 40px;
$navWidth: 150px;
$navWidthCalc: calc(100% - 150px);
$navHeightCalc: calc(100vh - 40px);
$navSpeed: 250ms;

$z-indexes: (
        "body": 0,
        "navigation": 100,
        "backdrop": 200,
        "model": 300,
        "fab": 400,
        "loader": 500
);