$navHeight: 40px;
$navWidth: 150px;
$navWidthCalc: calc(100% - 150px);
$navHeightCalc: calc(100vh - 40px);
$navSpeed: 500ms;

$z-indexes: (
        "body": 0,
        "overlay": 100,
        "backdrop": 150,
        "modal": 200,
        "skeleton": 250,
        "fab": 300,
        "navigation": 400,
        "loader": 500,
        "toasts":600,
);