@use '../../../core';

.desktop {
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
  }
}


.mobile {
  form {

  }
}


.submit {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--acc);
  color: var(--acc-contrast-text);
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
}