@use "/styles/utils";

@include utils.portalTable;

.actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
}

.roleChip {
  background: var(--acc);
  color: var(--acc-contrast-text);
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  padding: 2px 8px;
}
