.react-responsive-modal-modal {
  max-width: 800px;
  text-align: left;
  vertical-align: middle;
  background: var(--bg);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  padding: 32px 32px 16px 32px;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.react-responsive-modal-container {
  height: 100%;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-responsive-modal-closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  color: var(--bg-contrast-text);
  font-size: 1rem;
  transition: color 150ms ease;

  &:hover, &:active, &:focus {
    color: var(--acc);
    transform: scale(1.1);
  }
}