@use "/styles/utils";

.root {
  padding        : 16px;
  display        : flex;
  flex-direction : column;
  gap            : 16px;
}

.forms {
  display               : grid;
  gap                   : 16px;
  grid-template-columns : 1fr;
}

.form {
  position : relative;
}

.header {
  margin-bottom : 16px;
}

.blocked {
  background-color : var(--bg-trans);
  position         : absolute;
  top              : 0;
  bottom           : 0;
  right            : 0;
  left             : 0;
  display          : flex;
  justify-content  : center;
  align-items      : center;
  user-select      : none;
  z-index          : map-get(utils.$z-indexes, "overlay");
}

.blockedIcon {
  font-size : 64px;
  @include utils.animate(pulse);
  opacity   : 0.5;
}

.main {
  display        : flex;
  flex-direction : column;
  gap            : 16px;
}

.actions {

}

.verificationNotification {
  text-align : center;
}

.notice {
  @include utils.animate(notice, 1s, 5);
}

@include utils.up(utils.$md) {
  .root {
    margin    : 0 auto;
    max-width : utils.$md;
  }

  .forms {
    grid-template-columns : 1fr 1fr;
  }
}