@use '../../core';

.reset {
  .form {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
      margin-bottom: 8px;
    }

    .main {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .submitButton {
        width: 100%;
        background-color: var(--acc);
        color: var(--acc-contrast-text);
        padding: 8px;
        border: none;
        border-radius: var(--radius);
        font-weight: bolder;
        cursor: pointer;
        transition: background-color ease core.$transitionTime;


        &:disabled {
          background: var(--acc-disabled);
          color: var(--acc-disabled-contrast-text);
          pointer-events: none;
        }

        &:hover, &:active, &:focus {
          background-color: var(--acc-haf);

        }
      }
    }
  }
}


@include core.up(core.$sm) {
  .reset {
    height: 100%;
    display: flex;

    .form {
      width: 500px;
      margin: auto;
    }
  }
}