.dropboxContainer {
  border: solid 2px var(--bg-contrast-text);
  height: 100%;
  position: relative;
}

.dropbox {
  /*hide and reset*/
  opacity: 0;
  width: 100%;
  background-color: #a00;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  &::-webkit-file-upload-button {
    display: none;
  }
  /*hide and reset*/
}

.label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
}

.highlight {
  border: solid 2px var(--success);
}