.form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    margin-bottom: 8px;
  }


  main {
    display: flex;
    flex-direction: column;
    gap: 24px;

    button {
      width: 100%;
      background-color: var(--accent);
      color: #eee;
      padding: 8px;
      border: none;
      border-radius: var(--radius);
      font-weight: bolder;
    }
  }
}