.createAccount {
  display: grid;
  place-items: center;
  height: inherit;

  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;

    div {
      display: flex;
      flex-direction: column;

      input {
      }
    }
  }
}
