@use 'core';

:root {
  --bg: hsl(0, 0%, 20%);
  --bg-contrast-text: hsl(0, 0%, 93%);

  --bg-nav: hsl(0, 0%, 13%);
  --bg-nav-contrast-text: hsl(0, 0%, 93%);

  --scrollbar: hsl(0, 0%, 93%);

  --bg-trans: hsla(0, 0%, 0%, .8);
  --bg-trans-contrast-text: hsl(0, 0%, 100%);

  --acc: hsl(0, 96%, 48%);
  --acc-trans: hsla(0, 96%, 48%, .1);
  --acc-disabled: hsl(0, 0%, 40%);
  --acc-disabled-contrast-text: hsl(0, 0%, 20%);
  /*haf = hover,active,focus*/
  --acc-haf: hsl(0, 96%, 38%);
  --acc-contrast-text: hsl(0, 0%, 100%);

  --error: hsl(0, 100%, 42%);
  --success: hsl(145, 100%, 39%);
  --info: hsl(203, 100%, 46%);
  --warning: hsl(40, 100%, 50%);

  &[data-theme="light"] {
    --bg: hsl(0, 0%, 100%);
    --bg-contrast-text: hsl(0, 0%, 0%);

    --bg-nav: hsl(0, 0%, 87%);
    --bg-nav-contrast-text: hsl(0, 0%, 7%);

    --bg-trans: hsla(0, 0%, 100%, .8);
    --bg-trans-contrast-text: hsl(0, 0%, 0%);

    --scrollbar: hsl(0, 0%, 7%);
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--acc);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body,
#__next {
  width: 100%;
  height: calc(100%);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--bg);
  color: var(--bg-contrast-text);

  @include core.up(core.$sm) {
    height: calc(100% - 40px);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

body {
  font-size: 100%;
}