@use "utils";

:root {
  /*haf = hover,active,focus*/
  --bg: hsl(0, 0%, 9%);
  --bg-contrast-text: hsl(0, 0%, 93%);
  --bg-contrast-text-trans: hsla(0, 0%, 93%, 30%);

  --bg-nav: hsl(0, 0%, 13%);
  --bg-nav-contrast-text: hsl(0, 0%, 93%);

  --bg-trans: hsla(0, 0%, 9%, .4);
  --bg-trans-contrast-text: hsl(0, 0%, 100%);

  --acc: hsl(0, 96%, 48%);
  --acc-trans: hsla(0, 96%, 48%, 30%);
  --acc-contrast-text: hsl(0, 0%, 100%);
  --acc-disabled: hsl(0, 0%, 40%);
  --acc-disabled-contrast-text: hsl(0, 0%, 20%);
  --acc-inactive: hsl(0, 96%, 18%);

  --highlight-trans: hsla(0, 100%, 100%, 30%);
  --code: hsl(0, 0%, 7%);

  --error: hsl(6, 78%, 57%);
  --success: hsl(122, 93%, 38%);
  --info: hsl(204, 70%, 53%);
  --warning: hsl(48, 89%, 50%);

  --scrollbar: hsl(0, 0%, 93%);

  &[data-theme="light"] {
    --bg: hsl(0, 0%, 98%);
    --bg-contrast-text: hsl(0, 0%, 0%);
    --bg-contrast-text-trans: hsla(0, 0%, 7%, 80%);

    --bg-nav: hsl(0, 0%, 100%);
    --bg-nav-contrast-text: hsl(0, 0%, 7%);

    --bg-trans: hsla(0, 0%, 100%, .8);
    --bg-trans-contrast-text: hsl(0, 0%, 0%);

    --highlight-trans: hsla(0, 100%, 0%, 30%);
    --code: hsl(0, 0%, 93%);

    --scrollbar: hsl(0, 0%, 7%);
  }
}

html,
body,
#__next {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--bg);
  color: var(--bg-contrast-text);

  @include utils.up(utils.$sm) {
    height: utils.$navHeightCalc;
  }
}

html.modalOpen {
  body {
    user-select: none;
    pointer-events: none;
    position: fixed;
    overflow-y: scroll;
  }
}

/*OVERRIDES*/

@import "/styles/overrides/react-responsive-modal";

@import "/styles/overrides/toastify";

:root {
  @import "/styles/themes/atom-one-dark";

  &[data-theme="light"] {
    @import "/styles/themes/atom-one-light";
  }
}