.login {
  display: grid;
  place-items: center;
  height: inherit;
}

.form {
  width: 400px;
  height: 400px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;

  div {
    label {
      font-size: 1.5rem;
    }

    input {
      font-size: 2rem;
    }
  }
}

.formControl {
  display: flex;
  flex-direction: column;
  gap: 2px;
}


.remember {
  display: flex;
  gap: 10px;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
}
